.burger_btn{
    display: none;
    position: absolute;
    z-index: 6;
    width: 50px;
    height: 32px;
    right: 0;
}

.close_burger{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
}

.burger_btn .icon-left{
    transition-duration: .5s;
    position: absolute;
    height: 4px;
    width: 18px;
    top: 13px;
    background-color: #212121;
    left: 7px;
}

.burger_btn .icon-right{
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 18px;
    top: 13px;
    background-color: #212121;
    right: 7px;
}

.burger_btn .icon-left:before{
    content: "";
    transition-duration: .5s;
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #212121;
    top: -13px;
    left: 0;
}

.burger_btn .icon-left:after{
    content: "";
    transition-duration: 0.5s;
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #212121;
    top: 13px;
    left: 0;
}

.burger_btn .icon-right:before{
    transition-duration: 0.5s;
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -13px;
    left: 0;
}

.burger_btn .icon-right:after{
    transition-duration: 0.5s;
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 13px;
    left: 0;
}

.burger_btn.open .icon-right:after,
.burger_btn.open .icon-right:before,
.burger_btn.open .icon-left:after,
.burger_btn.open .icon-left::before,
.burger_btn.open .icon-right,
.burger_btn.open .icon-left{
    background-color: #FFF;
}

.burger_btn.open .icon-left{
    transition-duration: .2s;
    background-color: transparent;
}

.burger_btn.open .icon-left:before{
    transform: rotateZ(45deg) scaleX(1.2) translate(4px, 4px);
    left: 2px;
}

.burger_btn.open .icon-left:after{
    transform: rotateZ(-45deg) scaleX(1.2) translate(4px, -4px);
    left: 2px;
}

.burger_btn.open .icon-right{
    transition-duration: .2s;
    background: transparent;
}

.burger_btn.open .icon-right:before{
    transform: rotateZ(-45deg) scaleX(1.2) translate(-4px, 4px);
    left: -1px;
}

.burger_btn.open .icon-right:after{
    transform: rotateZ(45deg) scaleX(1.2) translate(-4px, -4px);
    left: -1px;
}

.burger_menu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.burger_menu.open{
    opacity: 1;
    z-index: 4;
}

.burger_menu > nav{
    position: relative;
    z-index: 6;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    transform: translateY(-220%);
}

.burger_menu > nav > #sign_up{
    border: 1px solid rgba(255, 255, 255);
    color: #FFF;
}

.burger_menu > nav.play{
    animation: transform_nav .5s linear forwards;
}

@keyframes transform_nav{
    0%{
        transform: translateY(-220%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.burger_menu > nav > a{
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.18px;
    color: #FFF;
}

.burger_menu > nav > a:hover{
    color: rgba(255, 255, 255, 0.4);
}


.burger_menu > nav.play > a:nth-child(2){
    animation: second_a .4s linear forwards;
    animation-delay: .6s;
    opacity: 0;
    transform: translateY(-37px);
}

@keyframes second_a {
    0%{
        opacity: 0;
        transform: translateY(-37px);
    }
    50%{
        opacity: .5;
        transform: translateY(-18px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.burger_menu > nav.play > a:nth-child(3){
    animation: third_a .4s linear forwards;
    animation-delay: .8s;
    opacity: 0;
    transform: translateY(-74px);
}

@keyframes third_a {
    0%{
        opacity: 0;
        transform: translateY(-74px);
    }
    50%{
        opacity: .3;
        transform: translateY(-37px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.burger_menu > nav.play > a:nth-child(4){
    animation: fourth_a .4s linear forwards;
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(-111px);   
}

@keyframes fourth_a {
    0%{
        opacity: 0;
        transform: translateY(-111px);
    }
    50%{
        opacity: .2;
        transform: translateY(-56px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.burger_menu > nav.play > a:nth-child(5){
    animation: fourth_a .4s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
    transform: translateY(-148px);   
}

@keyframes fourth_a {
    0%{
        opacity: 0;
        transform: translateY(-148px);
    }
    50%{
        opacity: .1;
        transform: translateY(-74px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.burger_menu > nav.play > #sign_up{
    animation: button .4s linear forwards;
    animation-delay: 1.4s;
    opacity: 0;
    transform: translateY(-185px);
}

.burger_menu > nav.play > #sign_up:hover{
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

@keyframes button {
    0%{
        opacity: 0;
        transform: translateY(-185px);
    }
    50%{
        opacity: .1;
        transform: translateY(-92px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}