

/* ============================ HEADER ============== */

header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header nav > a{
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.18px;
    transition: all .2s linear;
}

header nav > a:hover{
    opacity: .4;
    transform: translateY(-4px);
}

header nav{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

header nav{
    column-gap: 30px;
}

/* ============================ UNDER_HEDAER============== */

.under_header{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.under_header > .first{
    width: 40%;
}

.under_header > .first > h1{
    font-size: 63px;
    line-height: 79px;
    letter-spacing: 2.16px;
}

.under_header > .first > p{
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    margin: 30px 0 40px 0;
}

.under_header > .first > div:not(:last-child){
    align-items: center;
    display: flex;
    column-gap: 35px;
}

.under_header > .first a{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border-radius: 14px;
    padding: 20px 36px;
    background: #3F53D8;
}

.under_header > .first a:hover{
    background: #3645a4;
}

.under_header > .first a.visited{
    cursor: default;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    background: transparent;
    border-radius: 14px;
    padding: 20px 36px;
    color: #080829;
    border: 1px solid rgba(8, 8, 41, 0.2);
}

.registr_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0, .4);
    opacity: 0;
    z-index: -1;
    transition: all .4s linear;
}

.registr_menu > .close_whereever{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

.registr_menu > .form_block > .close_form_wherever{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.registr_menu > .form_block > .close_form_wherever::before,
.registr_menu > .form_block > .close_form_wherever::after{
    content: '';
    background-color: black;
    width: 30px;
    height: 4px;
    position: absolute;
}

.registr_menu > .form_block > .close_form_wherever::before{
    transform: rotate(45deg);
}

.registr_menu > .form_block > .close_form_wherever::after{
    transform: rotate(-45deg);
}

.registr_menu > .form_block{
    background-color: #FFFFFF;
    padding: 40px 30px 20px 30px;
    border-radius: 30px;
    position: relative;
    width: 400px;
    height: 600px;
    z-index: 30;
}

.registr_menu form{
    display: flex;
    flex-direction: column;
}

.registr_menu .submit{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    background: white;
    color: #3F53D8;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    opacity: 0;
    width: 300px;
    height: 100px;
}

.registr_menu .submit.open{
    display: flex;
    opacity: 1;
    z-index: 20;
}

.registr_menu .form_inf{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.36px;
    margin-bottom: 40px;
}

.input-group {
    height: 100px;
    position:relative;
}

.input-group label {
    display:  inline-block;
    margin-bottom: 5px;
}

.input-group input {
    border: 1px solid grey;
    display:block;
    width:100%;
    padding:10px;   
}

.error input {
    border:3px red solid;
}

.success input {
    border:3px green solid;
}

.input-group i {
    position:absolute;
    right:10px;
    top:35px;
    visibility: hidden;
}

.success i.fa-check-circle{
    visibility: visible;
    color:green;
}

 .error i.fa-exclamation-circle {
    visibility: visible;
    color:red;
}

.input-group p {
    font-size: 15px;
    color:red;
    visibility: hidden;
}

.error p {
    visibility: visible;
}

.registr_menu .btn{
    padding: 20px 36px;
    background: #3F53D8;
    border-radius: 14px;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.registr_menu.open{
    z-index: 10;
    opacity: 1;
}

.registr_menu > .loader{
    display: none;
    opacity: 0;
}

.registr_menu > .loader.play{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.under_header > .second{
    position: relative;
    width: 50%;
}

.under_header > .second > div{
    overflow: hidden;
    border-radius: 10px;
}

.under_header > .second > div img{
    transition: all .3s linear;
}

.under_header > .second > div img:hover{
    transform: scale(1.1, 1.1);
}

/* ============================ FEATURES ============== */

.features{
    margin-top: 200px;
    overflow-y: hidden;
    text-align: center;
    max-width: 1000px;
    margin: 250px auto 250px auto;
}

.features h2{
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
}

.features .flex{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features .flex > .flex_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    width: 300px;
    padding: 30px 0 50px 0;
}

.features .flex_container > div{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.features .flex_container > div:hover{
    animation: move .5s linear;
}

@keyframes move{
    0%{
        transform: translate(0);
    }

    50%{
        transform: translateY(-16px);
    }

    80%{
        transform: translateY(0);
    }

    90%{
        transform: translateY(-2px);
    }

    100%{
        transform: translate(0);
    }
}

.features > .flex > .flex_container:first-child > div{
    background-color: rgb(63, 83, 216, .4);
}

.features > .flex > .flex_container:nth-child(2) > div{
    background-color: rgb(254, 127, 81, .4);
}

.features > .flex > .flex_container:nth-child(3) > div{
    background-color: rgb(84, 84, 121, .4);
}

.features > .flex > .flex_container:nth-child(4) > div{
    background-color: rgb(44, 174, 118, .4);
}

.features > .flex > .flex_container:nth-child(5) > div{
    background-color: rgb(255, 193, 35, .4);
}

.features > .flex > .flex_container:nth-child(6) > div{
    background-color: rgb(162, 89, 255, .4);
}

.features .flex_container > p{
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02px;
}

/* ============================ COLLABORATES ============== */

.collab_block{
    margin: 0 0 250px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.collab_block > .first{
    position: relative;
    width: 65%;
}

.collab_block > .first > img{
    position: absolute;
}

.collab_block > .first > img:nth-child(1){
    top: 0;
    left: 0;
    z-index: 3;
}

.collab_block > .first > img:nth-child(2){
    z-index: 5;
    bottom: -30%;
    left: 0;
    width: 70%;
}

.collab_block > .first > img:nth-child(3){
    z-index: 0;
    right: 10%;
    top: 20%;
}

.collab_block > .first > img:nth-child(4){
    z-index: 1;
    right: 10%;
}

.collab_block > .second > h3{
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
}

.collab_block > .second > p{
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    margin: 26px 0;
    color: #545479;
}

.collab_block > .second ul{
    list-style-type: disc;
    margin-left: 16px;
    margin-bottom: 46px;
}

.collab_block > .second li{
    line-height: 29px;
    letter-spacing: 0.36px;
}

.collab_block > .second li:not(:First-child){
    margin-top: 12px;
}

.collab_block > .second > .download_link,
.build_block > .first > .download_link{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #3F53D8;
    border-radius: 14px;
    padding: 16px 40px;
}

.collab_block > .second > .download_link:hover,
.build_block > .second > .download_link:hover{
    background-color: #3645a4;
}

/* ============================ BUILD ============== */

.photo_radius{
    border-radius: 10px;
}

.build_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.build_block > .first{
    position: relative;
    width: 35%;
}

.build_block .br_midea{
    display: none;
}

.build_block > .first > img{
    position: absolute;
    bottom: 10%;
    right: 0;
}

.build_block > .first > h4{
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
}

.build_block > .first > p{
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    margin: 25px 0 40px 0;
    color: #545479;
}

.build_block > .first > .flex_inf{
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 50px;
}

.build_block .flex_inf > div > p:first-child{
    line-height: 25px;
    letter-spacing: 0.36px;
}

.build_block .flex_inf > div > p:last-child{
    margin-top: 15px;
    line-height: 22px;
    letter-spacing: 0.32px;
}

.build_block > .first button{
    margin-top: 46px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #3F53D8;
    border-radius: 14px;
    padding: 20px 36px;
}

.build_block > .first button:hover{
    background-color: #3645a4;
}

.build_block > .second{
    background-image: url(../assets/mix/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 499px;
    height: 574px;
    z-index: 1;
    position: relative;
}

.build_block > .second > img{
   position: absolute;
   top: 45%;
   left: -15%;
}

/* ============================ COLLAB_CARDS ============== */

.collab_cards{
    margin: 0px 0 250px 0;
}

.collab_cards > h6{
    text-align: center;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin-bottom: 80px;
}

.collab_cards .collab_flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.collab_cards .card > img{
    border-radius: 30px;
    width: 340px;
    height: 204px;
}

.collab_cards .card > img:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.collab_cards .card > p:nth-child(2){
    font-size: 27px;
    line-height: 34px;
    letter-spacing: 0.56px;
    margin: 39px 0 20px 0;
}

.collab_cards .card > p:nth-child(3){
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    width: 340px;
}

/* ============================ REVIEWS ============== */

.reviews > p{
    font-size: 43px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    cursor: default;
}

.swiper{
    width: 100%;
    height: 383px;
    margin: 100px 0 250px 0;
}

.swiper-slide{
    column-gap: 46px;
    display: flex;
    margin: 0 auto;
}

.swiper-slide > .container{
    margin: 0 auto;
    display: flex;
    width: 746px;
    flex-direction: column;
}

.swiper-slide > img{
    opacity: .4;
    width: 100px;
    height: 100px;
}

.swiper-slide > img:first-child{
    transform: rotate(180deg);
}

.swiper-slide > img:last-child{
    margin-bottom: 80px;
    align-self: end;
}

.swiper-slide .number_of_stars{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.swiper-slide > .container > .txt{
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.64px;
    margin: 34px 0;
}

.swiper-slide > .container > .author{
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.48px;
}

.swiper-slide > .container > img{
    width: 80px;
    height: inherit;
}

.swiper-button-next{
    transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev{
    top: 48%;
    width: 48px;
    height: inherit;
}

.swiper-button-next{
    right: 20%;
}

.swiper-button-prev{
    left: 70%;
}

.swiper-button-next:hover > svg > path,
.swiper-button-prev:hover > svg > path{
    stroke: #D9DDF7;
}

/* ============================ DEMOS ============== */

.demos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.demos > .first{
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-right: 186px;
}

.demos > .first > a{
    width: 76px;
    height: 76px;
    background-color: transparent;
    border: 1px solid #3F53D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demos > .first > a:hover > .svg_elipse{
    background: #3645a4;
}

.demos .svg_elipse{
    width: 58px;
    height: 58px;
    border-radius: 58px;
    background: #3F53D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demos > .first > p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.demos .video{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.demos .video.play > .close_video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
}

.demos .video > iframe{
    position: relative;
    z-index: 30;
    border-radius: 30px;
    border: none;
    Width: 760px;
    height: 415px;
}

.demos .video.play{
    z-index: 5;
    opacity: 1;
}

.demos > .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demos .block{
    width: 200px;
}

.demos .block:not(:first-child){
    margin-left: 80px;
}

.demos .block > p:first-child{
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 1.44px;
}

.demos .block > p:first-child > span{
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 1.44px;
    color: #3F53D8;
}

.demos .block > p:last-child{
    margin-top: 15px;
    font-size: 17px;
    line-height: 27px;
    color: #545479;
}

/* ============================ FOOTER ============== */

.footer_block{
    background-color: #080829;
}

footer{
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .navigation{
    display: flex;
    column-gap: 22px;
}

footer .navigation a{
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    position: relative;
    color: white;
    transition: all .2s linear;
    position: relative;
}

footer .navigation a::before{
    position: absolute;
    content: '';
    width: 100%;
    background-color: #3F53D8;
    height: 2px;
    bottom: -2px;
    transform: scaleX(0);
    transition: all .2s ease;
}

footer .navigation a:hover::before{
    transform: scale(1);
}

footer .links{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

footer .links > a:hover{
    transform: translateY(-5px);
}

footer .links > a > svg:hover > path{
    fill: #3F53D8;
}

footer .links > a:last-child > svg:hover > g > path{
    fill: #3F53D8;
}

.under_footer{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.under_footer > p{
    font-size: 16px;
    line-height: 20px;
    color: white;

}